<header class="header s4-notdlg">
    <div class="container noindex">
        <div class="row noindex">
            <!-- Titulo Indraweb -->
            <div class="col-md-4 col-xl-2 header__col-left noindex">
                <a href="/">
                    <h1 class="header__title">
                        <span class="sr-only">indraweb</span>
                        <img src="assets/images/indra.svg" alt=""
                            class="header__title__indra">
                    </h1>
                </a>
            </div>
            <div class="col-md-4 col-xl-5 header__col-search noindex">
                <!-- Caja campañas -->

                <!-- Caja buscador -->
            </div>
            <div class="col-md-4 col-xl-5 ml-auto header__col-right noindex">
                <!-- Tools y Salir -->
            </div>
        </div>
    </div>
</header>