/*
Name: Distributive module
Description: Styles for Indraweb distributive section
Author: devila
Version: 0.2
Last revision: 17:50 22/11/2012
*/

#distriContent {
margin: 0;
padding: 0;
background: #00b2cc url('/_layouts/15/images/indraweb/distri-bg.png') no-repeat;
background-position: left top;
}

.distriBloque {
margin: 0;
padding: 0;
border-bottom: 10px solid white;
clear: left;
}

.distriBloqTitulo {
margin: 13px 18px 13px 92px; margin: .81rem 1.13rem .81rem 5.75rem;
padding: 0;
width: 180px; width: 11.25rem;
float: left;
font-size: 25px; font-size: 1.56rem;
font-family: NeoSans-n4, NeoSans, Arial, Helvetica, sans-serif;
font-weight: 400;
line-height: 1.35;
color: white;
text-align: right;
}

.distriBloqTitulo a {
color: white;
}

.distriBloqTitulo a:hover {
text-decoration: none;
}

.distriBloqContenido {
/*min-height: 78px; min-height: 4.88rem;*/
margin: 0 0 0 290px; margin: 0 0 0 18.13rem;
padding: 20px 10px 0 26px; padding: 1.25rem .63rem 0 1.63rem;
background: white url('/_layouts/15/images/indraweb/distri-cont-bg.png') no-repeat;
background-position: left 18px; background-position: left 1.13rem;
}

.distriBloqDescrip {
color: #666;
padding: 0 0 6px 0; padding: 0 0 .38rem 0;
margin: 0;
font-size:13px;
}

.distriBloqLinks {
list-style-type: none;
margin: 0;
padding: 0;
}

.distriBloqLinks li {
margin: 0;
padding: 0 0 4px 14px; padding: 0 0 .25rem .88rem;
background: url('/_layouts/15/images/indraweb/list-sprite.png') no-repeat;
background-position: left 3px; background-position: left .19rem;
}

.distriBloqLinks .distriLinksVideo {
padding: 0 0 4px 32px; padding: 0 0 .25rem 2rem;
background: url('/_layouts/15/images/indraweb/list-sprite.png') no-repeat;
background-position: left -61px; background-position: left -3.81rem;
}

.distriBloqLinks li a {
color: #0098ca;
text-decoration: none;
font-size: 12px; font-size: .75rem;
}

.distriBloqLinks li a:hover {
text-decoration: none;
}

.heighter { 
clear: left;
margin: 0;
padding: 0;
height: 0;
overflow: hidden;
background: white;
}

.distriIEfix {
display: none;
}

.distriBloqLinks p {
margin: 0;
padding: 0 0 4px 14px; padding: 0 0 .25rem .88rem;
background: url('/_layouts/15/images/indraweb/list-sprite.png') no-repeat;
background-position: left 3px; background-position: left .19rem;
}
.distriBloqLinks p a {
color: #0098ca;
text-decoration: none;
font-size: 12px; font-size: .75rem;
}

.distriBloqLinks p a:hover {
text-decoration: none;
}
