/*
Name: Header module
Description: Styles for Indraweb header
Author: devila
Version: 0.3
Last revision: 17:51 22/11/2012
*/

#header  {
height: 60px; height: 3.75rem;
margin: 0;
padding: 0;
position: relative;
}

.header-logo {
width: 140px; width: 8.75rem;
height: 38px; height: 2.38rem;
padding: 22px 0 0 0; padding: 1.38rem 0 0 0;
margin: 0;
float: left;
text-transform: uppercase;
font-family: NeoSans-n4, NeoSans, Arial, Helvetica, sans-serif;
font-size: 27px; font-size: 1.69rem;
font-weight: 400;
white-space: nowrap;
position: absolute;
z-index: 500;
}

.header-logo a {
color: white;
text-decoration: none;
}

.header-bold {
font-family: NeoSans-n7, NeoSans, Arial, Helvetica, sans-serif;
font-weight: 700;
}
.header-light {
    position:absolute;
}

/*
#campanha {
width: 140px; width: 8.75rem;
height: 60px; height: 3.75rem;
overflow: hidden;
margin: 0 auto;
position: absolute;
z-index: 400;
left: 140px;
}
*/

#header-user {
display: inline-block;
float: right;
height: 50px; height: 3.13rem;
margin: 0;
padding: 0;
}

.tareasWarn {
display: none;
float: left;
height: 16px; height: 1rem;
padding: 36px 0 0 16px; padding: 2.25rem 0 0 1rem;
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: left 38px; background-position: left 2.38rem;
font-size: 11px; font-size: .69rem;
}

.tareasWarn a {
color: #fbb900;
}

.tareasWarn a:hover {
text-decoration: none;
}

.tareas .tareasWarn {
display: block;
}

#header-userdata {
float: left;
min-width: 150px; min-width: 9.38rem;
}

#header-userdata.newuser {
min-width: 265px; min-width: 16.56rem;
}

.header-userimage {
display: block;
width: 50px; width: 3.13rem;
height: 50px; height: 3.13rem;
overflow: hidden;
float: right;
margin: 0 0 0 10px; margin: 0 0 0 .63rem;
border: none;
}

#header-userlist {
margin: 0;
padding: 0;
float: right;
text-align: right;
list-style-type: none;
line-height: 1.25;
}

.header-userlist-name {
height: 17px; height: 1.063rem;
margin: 17px 0 4px 0; margin: 1.06rem 0 .25rem 0;
padding: 0;
font-size: 15px; font-size: .94rem;
}

.header-userlist-name a {
color: #fff;
}

.header-userlist-name a:hover {
text-decoration: none;
}

.header-userlist-location {
height: 8px; height: .5rem;
margin: 0 0 0 7px; margin: 0 0 0 .44rem;
padding: 2px 0 0 7px; padding: .13rem 0 0 .44rem;
float: right;
border-left: 1px solid #4a4a43;
font-size: 11px; font-size: .69rem;
line-height: 6px; line-height: .38rem;
}

.header-userlist-location a {
color: #ccc;
}

.header-userlist-location a:hover {
text-decoration: none;
}

.header-userlist-location:last-child {
border-left: none;
}

.tareas .header-userlist-location:last-child {
border-left: 1px solid #4a4a43;
}

#newuser {
display: none;
float: right;
height: 50px; height: 3.13rem;
margin: 0 0 0 1px;
padding: 0 7px; padding: 0 .44rem;
overflow: hidden;
background: #00b2cc url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -85px 33px; background-position: -5.31rem 2.07rem;
font-size: 11px; font-size: .69rem;
line-height: 1.25;
}

.newuser #newuser {
display: block;
}

#newuser a {
display: block;
margin: 21px 0 0 0; margin: 1.31rem 0 0 0;
padding: 0 16px 0 0; padding: 0 1rem 0 0; 
color: black;
}

#newuser a:hover {
text-decoration: none;
}

.bienvenido {
color: white;
}

#header-tools {
margin: 0 2px; margin: 0 .13rem;
padding: 0 4px; padding: 0 .25rem;
border-right: 1px solid #494942;
border-left: 1px solid #494942;
list-style-type: none;
float: left;
}

.header-tools {
float: left;
width: 23px; width: 1.44rem;
margin: 16px 2px 0 2px; margin: 1rem .13rem 0 .13rem;
overflow: hidden;
font-size: 10px; font-size: .63rem;
text-align: center;
}

.header-tools a {
display: block;
width: 23px; width: 1.44rem;
padding: 21px 0 0 0; padding: 1.31rem 0 0 0;
overflow: hidden;
color: #adadad;
cursor:pointer;
}

.header-tools a:hover {
text-decoration: none;
}

.header-tools-comments {
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -237px top; background-position: -14.81rem top;
margin-right: 0;
}

.header-tools-readlater {
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -295px top; background-position: -18.44rem top;
margin-right: 0;
}

.header-tools-favorites {
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -358px top; background-position: -22.38rem top;
margin-right: 0;
}

.header-tools-webmail {
height: 20px; height: 1.25rem;
text-indent: -160px; text-indent: -10rem;
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -417px top; background-position: -26.06rem top;
}

.header-tools-cau {
height: 20px; height: 1.25rem;
text-indent: -160px; text-indent: -10rem;
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -480px top; background-position: -30rem top;
-ms-background-position-x: -480px;
-ms-background-position-y: top;
}

.header-tools-padlock {
height: 20px; height: 1.25rem;
text-indent: -160px; text-indent: -10rem;
background: url('/_layouts/15/images/indraweb/padlock.png') no-repeat;
background-position-x: 5px;
background-position-y: center;
}

#header-session {
float: left;
margin: 19px 4px 0 10px; margin: 1.19rem .25rem 0 .63rem;
font-size: 11px; font-size: .69rem;
line-height: 1.25;
}

a.header-login {
display: inline-block;
overflow: hidden;
height: 12px; height: .75rem;
padding: 0 0 0 16px; padding: 0 0 0 1rem;
background: url('/_layouts/15/images/indraweb/header-sprite.png') no-repeat;
background-position: -540px 1px; background-position: -33.75rem 1px;
color: #bdbdbd;
}

a.header-language {
display: block;
margin: 4px 0 0 0; margin: .25rem 0 0 0;
padding: 0 12px 0 0;
list-style-type: none;
color: #bdbdbd;
}

.header-language.is-collapsed {
background: url('/_layouts/15/images/indraweb/flechita.png') no-repeat;
background-position: right 4px; background-position: right .25rem;
}

.header-language.is-expanded {
background: url('/_layouts/15/images/indraweb/flechita.png') no-repeat;
background-position: right -56px; background-position: right -3.5rem;
}

.header-language:hover {
text-decoration: none;
}

.header-language-menu {
padding: 0;
margin: 0;
position: absolute;
z-index: 999;
list-style-type: none;
background: black;
border: 1px solid #494942;
font-size: 11px; font-size: .69rem;
line-height: 1.25;
display: none;
}

.header-language-menu li {
margin: 0;
padding: 2px 4px; padding: .13rem .25rem;
border-top: 1px dotted #494942;
}

.header-language-menu li:first-child {
border-top: none;
}

.header-language-menu li:hover {
background: #333;
}

.header-language-menu a {
color: #bdbdbd;
}

.header-language-menu a:hover {
text-decoration: none;
}