/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "LiberationSans";
  src: url("./assets/fonts/liberation_sans/LiberationSans-Regular.ttf");
}

body {
  font-family: "LiberationSans";
  font-weight: 500;
  font-style: normal;
}

h4,
h5,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.header {
  position: relative;
  z-index: 6;
  padding: 12px 0 10px;
  transition: background-color 0.3s;
  background-color: #004254;
}

.region-sidebar-first .block-menu .navbar ul li {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin-left: 0px;
  padding: 5px 0px;
  clear: both;
}

.new-date-country {
  background: #efefef;
  padding: 5px;
  margin-bottom: 20px;
}

section {
  display: block;
}

.main-container.container ul li {
  list-style-type: circle;
  margin-left: 20px;
}

.article-text {
  padding: 2%;
  color: white;
}

.text-padding {
  padding: 2%;
}

.indra-ground {
  background-color: #004254;
}

.img-padding {
  padding-top: 2%;
}

.blue-text {
  color: #3465a4;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

#img-indra {
  width: 50%;
  height: 50%;
}
