<div id="s4-workspace" style="height: 330px; width: 1366px;">
    <div id="s4-bodyContainer">
        <!-- Header -->


        <app-header></app-header>


        <div class="no-color">
            <div class="page-header-wrapper">
                <h1 class="page-header container">
                    Actualización de preguntas más frecuentes sobre el <br>COVID-19
                </h1>
            </div>


            <div class="container row">
                <aside class="col-xs-12 col-sm-4 col-md-3" role="complementary">
                    <div class="region region-sidebar-first">
                        <section id="block-menu-menu-sala-de-prensa" class="block block-menu clearfix">
                            <nav class="navbar">
                                <ul class="navbar-wrapper">
                                    <li class="first leaf active-trail example"><a href="#" title="">¿Qué es el nuevo
                                            coronavirus SARS-CoV-2?</a></li>
                                    <li class="leaf example"><a href="#" title="">¿Cuáles son los síntomas del
                                            COVID-19?</a></li>
                                    <li class="leaf example"><a href="#" title="">¿Cómo se transmite el
                                            nuevo coronavirus?</a></li>
                                    <li class="collapsed example"><a href="#">¿Cuáles son los grupos vulnerables?

                                        </a></li>
                                    <li class="last leaf example"><a href="#">¿Existe un tratamiento para el
                                            COVID-19?</a></li>
                                </ul>
                            </nav>
                        </section>
                    </div>
                </aside>


                <section class="col-xs-12 col-sm-8 col-md-9">
                    <div class="region region-content">
                        <section id="block-indra-press-new-date-country" class="block block-indra-press clearfix">
                            <div class="new-date-country">Julio 2020 <a href="#">México</a>
                            </div>
                        </section>
                        <section id="block-system-main" class="block block-system clearfix">
                            <article id="node-78623" class="node node-noticia clearfix"
                                about="/es/noticia/indra-minsait-digitalizan-carnet-conducir-app-mejora-seguridad-vial-facilitar-avisos"
                                typeof="sioc:Item foaf:Document">

                                <div class="field field-name-field-entradilla field-type-text-long field-label-hidden">
                                    <ul>
                                        <li class="blue-text">Con una actualización permanente, Indra informa de
                                            las medidas tomadas para aplicar un modelo de máxima precaución y
                                            minimizar riesgos relacionados con el coronavirus COVID-19, dado que
                                            para Indra preservar la seguridad de sus profesionales es una
                                            prioridad.&nbsp;</li>
                                        <li class="blue-text">En esta línea, encontrarás a continuación una
                                            actualización de respuesta a las preguntas más frecuentes sobre este
                                            asunto, basadas en la información publicada y actualizada por la
                                            Organización Mundial de la Salud y en las comunicaciones de
                                            Indra.</li>
                                    </ul>

                                    <p>Te recordamos que puedes resolver cualquier duda adicional a través de IndraWeb
                                        en el micrositio de <strong>*COVID19 Información actualizada*</strong></p>
                                </div>

                                <div
                                    class="field field-name-body field-type-text-with-summary field-label-hidden indra-ground">
                                    <p class="article-text">Con una actualización permanente, Indra informa de las
                                        medidas tomadas para aplicar un modelo de máxima precaución y minimizar riesgos
                                        relacionados con el coronavirus COVID-19, dado que para Indra preservar la
                                        seguridad de sus profesionales es una prioridad.&nbsp;</p>

                                    <p class="article-text">En esta línea, encontrarás a continuación una actualización
                                        de respuesta a las preguntas más frecuentes sobre este asunto, basadas en la
                                        información publicada y actualizada por la Organización Mundial de la Salud y en
                                        las comunicaciones de Indra..&nbsp;</p>

                                    <p>&nbsp;&nbsp; &nbsp;<br>
                                        &nbsp;</p>
                                </div>
                            </article>
                        </section>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>